@import "./constants.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button {
  cursor: pointer;
  align-content: center;
}

.list {
  margin: 100px auto;
  width: fit-content;
  width: 600px;
}
.list_add-item-bar {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}
.list_add-item-bar_input {
  @extend %font1, %border1;
  padding: 18px 25px;
  border-radius: 5px;
  width: 100%;
  &.invalid {
    border: 1px solid red;
  }
}
.list_add-item-bar_btn {
  @extend %font1, %border1;
  background-color: $color1;
  color: white;
  padding: 18px 48px;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
}

.list_body_item {
  padding: 25px;
  background-color: rgba(240, 240, 240, 1);
  display: flex;
  gap: 20px;
  margin-top: 10px;
  justify-content: space-between;
}

.list_body_item_delete-btn {
  border: none;
  width: 50px;
  height: 50px;
  padding: 12px 24px;
  background-image: url("../public/Vector.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: inherit;
  &:hover {
    background-color: inherit;
  }
}

@media (max-width: 500px) {
  .list {
    margin: 100px 15px;
  }
  .list_add-item-bar {
    flex-direction: column;
  }
}

@media (max-width: 620px) {
  .list {
    width: auto;
    margin: 100px 15px;
  }
}
